<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <% if (data) { %>
        <h1>Payment success username <%= data %></h1>
        <h1>total price <%= price %>
    <% } %>
</body>
</html>